@model Proyecto_Final.Models.Estante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.columna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.columna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1.nombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEstante }) |
    @Html.ActionLink("Back to List", "Index")
</p>
