@model IEnumerable<Proyecto_Final.Models.Transaccion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroReferencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.apellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetodoDePago.metodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicio.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeTransaccion.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1.nombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroReferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.apellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetodoDePago.metodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servicio.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeTransaccion.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1.nombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTransaccion }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTransaccion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTransaccion })
        </td>
    </tr>
}

</table>
